/* imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

/* mixin */
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

/* media queries */
/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 576px) {
  .tech-icon, .description p, .third-section{
    font-size: 0.5rem;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 768px) {
  .tech-icon, .description p, .third-section{
    font-size: .75rem;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 992px) {
  .tech-icon, .description p, .third-section{
    font-size: 1rem;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1200px) {
  .tech-icon, .description p{
    font-size: 1.25rem;
  }
}

/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1400px) {
  .tech-icon, .description p{
    font-size: 1.5rem;
  }
}

/* Global */
.nav-link {
  color: white;
}
.hidden{
  display: none;
}
.hidden-heading{
  visibility: hidden;
}
body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden !important;
}
h1 ,h2 ,h3 ,h4 {
  font-family: 'Ubuntu', sans-serif;
  color: #0275d8;
}
.heading{
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 2.3rem;
}
.title{
  font-weight: bold;
}
.bordered-btn, .bordered-btn:hover{
  border: 3px solid black;
}
.whiteout{
  color: white;
}

/* Navbar */
.logo {
  width: 75px;
  height: 75px;
}
.navbar-toggler-icon{
  font-size: 2rem;
}
.nav-link{
  font-size: 2rem;
  margin: 0 10px;
  text-align: center;
}
.navbar-dark {
  background: linear-gradient(#0275d8, #00ffc8) !important;
}

/* First Section */
.first-section{
  text-align: center;
  margin-bottom: 10%;
}

.about-section {
  text-align: center;
  padding: 3% 0 5%;
}

#intro-heading{
  background-color: #0275d8;
  color: white;
  margin: 3% auto;
  width: 70%;
  border-radius: 10px 10px;
  border: 3px solid black;
}

.hero-image{
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
.origami{
  position: absolute;
  top: 600px;
  right: 70%;
  width: 300px;
  z-index: -1;
}

.landing-cta{
  width: 90%;
  padding: 30px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 25px;
  border: 3px solid #5d5d5d;
}

.landing-cta button{
  margin: 2%;
}
/* Second section */
.second-section{
  padding-bottom: 5%;
  background: radial-gradient(#0275d8, #00ffc8);
}
#my-carousel *{
  color: white;
}
.technologies{
  text-align: center;
  width: 100%;
  padding: 30px 0;
}

.tech-icon{
  padding: 0 5px;
}

.carousel-inner .carousel-item {
  transition: -webkit-transform 15s linear;
  transition: transform 15s linear;
  transition: transform 15s linear, -webkit-transform 15s linear;
}

#close-btn:hover{
  color: #00ffc8 !important;
}

.description p {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}
.description *{
  transition: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
.info{
  padding-top: 3%;
  font-size: 1.25rem;
}
/* Third section */
.third-section {
  padding: 2.5% 5%;
  padding-bottom: 3%;
  /* font-size: 1.25rem; */
}
.worker{
  text-align: center;
  height: 100%;
  padding-top: 10%;
}
#worker{
  text-align: center;
}

/* Footer */
.footer{
  background: linear-gradient(#00ffc8, #0275d8);
  padding: 20px 0;
}
.copyright{
  color: white;
  text-align: center;
}

/* About Page */
#about-container{
  background-image: url(./src/forest-pine.svg);
  background-repeat: no-repeat;
}
#about-me{
  color: white;
}
.profile{
  margin-top: 15px;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  align-self: center;
}
.card{
  margin: 2.5% 5%;
  opacity: 0.97;
  border: 3px solid black;
  border-radius: 10px 10px;
}

.jumbotron{
  background-color: #0275d8;
  padding: 2rem 2rem !important;
  margin-bottom: 0;
  color: white;
}
.card-text{
  padding: 1rem 1rem;
  text-align: left;
}
/* Projects */
#projects-heading{
  color: white;
  text-align: center;
}

.projects-container{
  margin-top: 3%;
  width: 70%;
  padding: 0;
  border: 3px solid black;
  border-radius: 10px 10px;
}
.project{
  padding: 2.5%;
}
.project-img{
  width: 100%;
  border-radius: 10px;
}
.my-gradient{
  background: radial-gradient(#0275d8, #00ffc8);
}
.project-column{
  padding: 15px;
}
.project-btns{
  width: 70%;
  margin: auto;
}
