@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

/* Global */
.nav-link {
  color: white;
}
.hidden{
  display: none;
}
body {
  font-family: 'Open Sans', sans-serif;
}
h1 ,h2 ,h3 ,h4 {
  font-family: 'Ubuntu', sans-serif;
  color: #0275d8;
}
.heading{
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 2rem;
  text-align: center;
}
.title{
  font-weight: bold;
}

/* Navbar */
.logo {
  width: 75px;
  height: 75px;
}
.navbar-toggler-icon{
  font-size: 2rem;
}
.nav-link{
  font-size: 2rem;
  margin: 0 10px;
  text-align: center;
}
.navbar-dark {
  background: linear-gradient(#0275d8, #00ffc8) !important;
}

/* First Section */
.first-section {
  text-align: center;
}

.showcase-heading{
  color: white;
}

.hero-image{
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.landing-cta{
  width: 300px;
  margin-top: 50px;
  padding: 30px 30px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  border: 3px solid #5d5d5d;
}
/* Second section */
.second-section{
  padding-bottom: 5%;
  background: radial-gradient(#0275d8, #00ffc8);
  color: white;
}
.technologies{
  text-align: center;
}
.carousel-inner .carousel-item {
  transition: -webkit-transform 15s linear;
  transition: transform 15s linear;
  transition: transform 15s linear, -webkit-transform 15s linear;
}
.description p {
  padding-top: 5%;
  font-size: 1.5rem;
}
.description *{
  transition: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.info{
  padding-top: 3%;
  font-size: 1.25rem;
}
/* Third section */
.third-section {
  padding: 0 5%;
  padding-bottom: 3%;
  font-size: 1.25rem;
}

/* Footer */
.footer{
  background: linear-gradient(#00ffc8, #0275d8);
  padding: 20px 0;
}
.copyright{
  color: white;
  text-align: center;
}
