/* imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

/* mixin */
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #191970 url("../asfalt-light.png");
    text-align: center;
}

.main {
    padding: 20px;
    background: #050A30;
    width: 90%;
    border-radius: 10px;
}

/* media queries */
/* X-Small devices (portrait phones, less than 576px) */
@media screen and (max-width: 600px) {
  .tech-icon, .description p, .third-section{
    font-size: 0.75rem !important;
  }
}

@media screen and (min-width: 600px) {
  .tech-icon, .description p, .third-section{
    font-size: 0.75rem !important;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media screen and (min-width: 768px) {
  .tech-icon, .description p, .third-section{
    font-size: 1rem !important;
  }
}

/* Medium devices (tablets, less than 992px) */
@media screen and (min-width: 992px) {
  .tech-icon, .description p, .third-section{
    font-size: 1.25rem !important;
  }
}

/* Large devices (desktops, less than 1200px) */
@media screen and (min-width: 1200px) {
  .tech-icon, .description p{
    font-size: 1.5rem !important;
  }
}

/* X-Large devices (large desktops, less than 1400px) */
@media screen and (min-width: 1400px) {
  .tech-icon, .description p{
    font-size: 1.75rem !important;
  }
}

/* Global */
.btn{
  color: white;
}
#close-btn:hover{
  color: #00ffc8 !important;
}
.hidden{
  display: none;
}
.hidden-heading{
  visibility: hidden;
}
body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden !important;
}
h1 ,h2 ,h3 ,h4 {
  font-family: 'Ubuntu', sans-serif;
  /* color: #0275d8; */
  color: #fff;
}
.heading{
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 2.3rem;
}
.title{
  font-weight: bold;
}
.bordered-btn, .bordered-btn:hover{
  border: 3px solid black;
}
.whiteout{
  color: white;
}
.jumbotron{
  background-color: #0275d8;
  padding: 2rem 2rem !important;
  margin-bottom: 0;
  color: white;
}

/* Navbar */
.logo {
  width: 75px;
  height: 75px;
}
.navbar-toggler-icon{
  font-size: 2rem;
}
.nav-link{
  color: white;
  font-size: 2rem;
  margin: 0 10px;
  text-align: center;
}
.navbar-dark {
  background: linear-gradient(#0275d8, #00ffc8) !important;
}



/* Footer */
.footer{
  background: linear-gradient(#00ffc8, #0275d8);
  padding: 20px 0;
}
.copyright{
  color: white;
  text-align: center;
}
