<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1"
        />
        <meta
            property="og:image"
            content="https://websitzes.net/images/preview.webp"
        />
        <meta
            property="og:description"
            content="Creative Web Solutions"
        />
        <meta property="og:url" content="https://websitzes.net/" />
        <meta property="og:title" content="websitzes.net" />
        <title>
            websitzes.net | Creative Web Solutions
        </title>
        <link rel="icon" href="./images/fav.png" />
    </head>
    <body>
        {% include './views/components/navigation.twig' %}
        <canvas class="webgl"></canvas>
        <main>
            {% include './views/components/cta.twig' %}
            {% include './views/components/timeline.twig' %}
            {% include './views/components/gallery.twig' %}
            {% include './views/components/about.twig' %}
            {% include './views/components/learn.twig' %}
        </main>
        {% include './views/components/footer.twig' %}
        <script
            type="application/json"
            data-template="./views/components/footer.twig"
        >
            { "date": "bar" }
        </script>
        <div class="scripts">
            <script type="module" src="./js/app.js"></script>
        </div>
    </body>
</html>
