// CUSTOM
$abyss: #000033;
$blue: #080099;
$violet: #7606a6;
$vivid-pink: #f706cf;

// OVERRIDES
$offcanvas-bg-color: #000033;
$navbar-dark-color: #fff;
$navbar-dark-toggler-border-color: transparent;
$input-btn-font-family: "Open Sans", sans-serif;
$card-bg: rgba($abyss, 0.9);
