// OVERRIDES
$offcanvas-bg-color: #000033;
$navbar-dark-color: #fff;
$navbar-dark-toggler-border-color: transparent;

// CUSTOM
$abyss: #000033;
$blue: #080099;
$violet: #7606a6;
$vivid-pink: #e9004094;
