<section class="container-sm about reveal">
    <div class="card mt-5">
        <div class="card-body">
            <h1 class="card-title">About Me</h1>
            <h2 class="card-subtitle mb-2">
                Let's take your designs to the next level!
            </h2>
            <p class="card-text text-start p-2">
                As a front-end web developer, I take pride in
                delivering products that exceed client expectations.
                My experience with a wide variety of frameworks and
                technologies enables me to easily jump into a project
                and start collaborating. Whether I am working on a
                small-scale website or a large-scale web application,
                I am dedicated to delivering exceptional results that
                meet the unique needs of each project.
            </p>
        </div>
    </div>
</section>
