<section class="container-fluid cta-container">
    <div class="header-shadow p-5">
        <h1>Hi, I'm Wes</h1>
        <h2>I'm a front-end developer</h2>
    </div>
</section>
<div class="scroll-indicator">
    <i class="fas fa-chevron-down"></i>
</div>
