<section class="container-fluid cta-container">
    <div class="p-5">
        <h1 class="header-shadow">Hi, I'm Wes</h1>
        <h2 class="header-shadow">I'm a front-end developer</h2>
        <a
            class="btn btn-primary btn-lg"
            href="mailto:wes@websitzes.net"
            aria-label="contact me"
        >
            Contact Me
        </a>
    </div>
</section>
<div class="scroll-indicator">
    <i class="fas fa-chevron-down"></i>
</div>
