<section class="container-sm mt-5">
    <div class="gallery mx-auto rounded reveal">
        <div class="group">
            <div class="item">
                <img
                    class="w-100 rounded top"
                    src="./images/gallery/furtrieve.webp"
                    alt="furtrieve desktop"
                />
                <img
                    class="w-100 rounded"
                    src="./images/gallery/furtrieve-m.webp"
                    alt="furtrieve mobile"
                />
            </div>
            <div class="item">
                <img
                    class="w-100 rounded top"
                    src="./images/gallery/blockscholars-m.webp"
                    alt="blockscholars mobile"
                />
                <img
                    class="w-100 rounded"
                    src="./images/gallery/blockscholars.webp"
                    alt="blockscholars desktop"
                />
            </div>
            <div class="item">
                <img
                    class="w-100 rounded top"
                    src="./images/gallery/performance.webp"
                    alt="performance desktop"
                />
                <img
                    class="w-100 rounded"
                    src="./images/gallery/performance-m.webp"
                    alt="performance mobile"
                />
            </div>
            <div class="item">
                <img
                    class="w-100 rounded top"
                    src="./images/gallery/lindy-m.webp"
                    alt="lindy mobile"
                />
                <img
                    class="w-100 rounded"
                    src="./images/gallery/lindy.webp"
                    alt="lindy desktop"
                />
            </div>
            <div class="item">
                <img
                    class="w-100 rounded top"
                    src="./images/gallery/grizzly.webp"
                    alt="grizzly desktop"
                />
                <img
                    class="w-100 rounded"
                    src="./images/gallery/grizzly-m.webp"
                    alt="grizzly mobile"
                />
            </div>
            <div class="item">
                <img
                    class="w-100 rounded top"
                    src="./images/gallery/aquaknox-m.webp"
                    alt="aquaknox mobile"
                />
                <img
                    class="w-100 rounded"
                    src="./images/gallery/aquaknox.webp"
                    alt="aquaknox desktop"
                />
            </div>
        </div>
        <div aria-hidden class="group">
            <div class="item">
                <img
                    class="w-100 rounded top"
                    src="./images/gallery/furtrieve.webp"
                    alt="furtrieve desktop"
                />
                <img
                    class="w-100 rounded"
                    src="./images/gallery/furtrieve-m.webp"
                    alt="furtrieve mobile"
                />
            </div>
            <div class="item">
                <img
                    class="w-100 rounded top"
                    src="./images/gallery/blockscholars-m.webp"
                    alt="blockscholars mobile"
                />
                <img
                    class="w-100 rounded"
                    src="./images/gallery/blockscholars.webp"
                    alt="blockscholars desktop"
                />
            </div>
            <div class="item">
                <img
                    class="w-100 rounded top"
                    src="./images/gallery/performance.webp"
                    alt="performance desktop"
                />
                <img
                    class="w-100 rounded"
                    src="./images/gallery/performance-m.webp"
                    alt="performance mobile"
                />
            </div>
            <div class="item">
                <img
                    class="w-100 rounded top"
                    src="./images/gallery/lindy-m.webp"
                    alt="lindy mobile"
                />
                <img
                    class="w-100 rounded"
                    src="./images/gallery/lindy.webp"
                    alt="lindy desktop"
                />
            </div>
            <div class="item">
                <img
                    class="w-100 rounded top"
                    src="./images/gallery/grizzly.webp"
                    alt="grizzly desktop"
                />
                <img
                    class="w-100 rounded"
                    src="./images/gallery/grizzly-m.webp"
                    alt="grizzly mobile"
                />
            </div>
            <div class="item">
                <img
                    class="w-100 rounded top"
                    src="./images/gallery/aquaknox-m.webp"
                    alt="aquaknox mobile"
                />
                <img
                    class="w-100 rounded"
                    src="./images/gallery/aquaknox.webp"
                    alt="aquaknox desktop"
                />
            </div>
        </div>
    </div>
</section>
