<section
    class="container-sm learn d-flex flex-column justify-content-center reveal"
>
    <h1 class="header-shadow mb-2">Learn More</h1>
    <h4 class="header-shadow mb-5">
        If you're interested in seeing more please feel free to check
        out the links below
    </h4>
    <div>
        <a
            class="btn btn-primary btn-lg"
            href="https://github.com/PolybiusPro"
            target="_blank"
            rel="noopener noreferrer"
        >
            <i class="fab fa-github"></i> Github
        </a>
        <a
            class="btn btn-primary btn-lg"
            href="https://www.linkedin.com/in/weston-sitzes/"
            target="_blank"
            rel="noopener noreferrer"
        >
            <i class="fab fa-linkedin"></i> LinkedIn
        </a>
    </div>
</section>
