<nav
    class="navbar navbar-expand-md"
    style="background: transparent"
    data-bs-theme="dark"
>
    <div class="container-fluid">
        <a class="navbar-brand" href="#">websitzes.net</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end w-75" id="navbarNav">
            <div class="offcanvas-header">
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close"
                >

                </button>
            </div>
            <ul class="navbar-nav ms-md-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#my-work">My Work</a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="https://www.linkedin.com/in/weston-sitzes/"
                        aria-label="Linked In"
                    >
                        <span class="d-md-none">
                            Linked <span class="d-none">In</span>
                        </span><i class="fab fa-linkedin"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="https://github.com/PolybiusPro"
                        aria-label="Git Hub"
                    >
                        <span class="d-md-none">GitHub</span><i class="fab fa-github"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="mailto:wes@websitzes.net"
                        aria-label="Email"
                    >
                        <span class="d-md-none">Email</span>
                        <i class="fas fa-envelope"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
