<section class="container-sm">
    <h1 class="header-shadow mb-5">Work Experience</h1>
    <div class="timeline d-flex justify-content-center mx-auto">
        <div class="mx-4 scroller-container">
            <div class="scroller">
                <span></span>
            </div>
        </div>

        <div class="d-flex flex-column gap-3">
            <div class="card reveal">
                <svg
                    width="12"
                    height="12">
                    <circle
                        cx="6"
                        cy="6"
                        r="6"
                        fill="#fff" />
                </svg>
                <div class="card-body">
                    <h4 class="card-title text-start">
                        Web Developer - Furtrieve
                    </h4>
                    <h5 class="card-subtitle text-start mb-2">
                        2017-2022
                    </h5>
                    <ul class="card-text text-start">
                        <li class="mb-2">
                            Developed and maintained an ecommerce site
                            for pet tracking.
                        </li>
                        <li class="mb-2">
                            Collaborated with multiple team members to
                            produce visual assets.
                        </li>
                        <li class="mb-2">
                            Ensured security and optimization best
                            practices.
                        </li>
                        <li class="mb-2">
                            Assisted with onboarding new developers
                            and familiarizing them with the codebase.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card reveal">
                <svg
                    width="12"
                    height="12">
                    <circle
                        cx="6"
                        cy="6"
                        r="6"
                        fill="#fff" />
                </svg>
                <div class="card-body">
                    <h4 class="card-title text-start">
                        Web Developer - TrailerCentral
                    </h4>
                    <h5 class="card-subtitle text-start mb-2">
                        2017-2022
                    </h5>
                    <ul class="card-text text-start">
                        <li class="mb-2">
                            Delivered 100+ projects for customers in a
                            timely manner.
                        </li>
                        <li class="mb-2">
                            Reduced average delivery time by 40% by
                            implementing code quality standards and
                            automation.
                        </li>
                        <li class="mb-2">
                            Collaborated with account managers to
                            ensure that all projects conformed to
                            customer standards.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
